<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
  </br>
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small></small>
              </div>
            </br>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
              $('#generators').on('change.states', function() {
                $("#ldo").toggle($(this).val() == 'ldo');
                $("#pll").toggle($(this).val() == 'pll');
                $("#cdc").toggle($(this).val() == 'cdc');
                $("#adc").toggle($(this).val() == 'adc');
                $("#dcdc").toggle($(this).val() == 'dcdc');
                $("#mem").toggle($(this).val() == 'mem');
                $("#temp").toggle($(this).val() == 'temp');
              }).trigger('change.states');
            });
            </script>

<!-- TEST -->
<!--           <form action="/register" method="post">
            <label>Name</label>
            <input type="text" name="name">
              <br /> <br /> <br /> <br />
            <label>Email</label>
            <input type="text" name="email">
              <br /> <br /> <br /> <br />
            <button>submit</button>
          </form> -->
<!-- END TEST -->


                <div class="text-center text-muted mb-4">
                  <medium>Select a Generator</medium>
                </div>
                <form>
                  <select class="form-control" data-toggle="select" title="Simple select" id="generators">
                    <option value="" disabled="disabled" selected="selected">Please choose a generator</option>
                    <option value="ldo">LDO</option>
                    <option value="adc">ADC</option>
                    <option value="cdc">CDC</option>
                    <option value="dcdc">DCDC</option>
                    <option value="pll">PLL</option>
                    <option value="mem">Memory</option>
                    <option value="temp">Temp Sensor</option>
                  </select>
                </form>
            </br>
            <form action="/register" method="post">
            <div id="mem">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Module Name" placeholder="Module Name" type="text" required>
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                  </div>
 
                </div>
                <div class="text-center text-muted mb-4">
                  <medium>Simulation</medium>
                </div>
                <div class="text-left text-muted mb-4">
                  <small>Specifications</small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="word_size" placeholder="word_size" type="text">
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="nowords" placeholder="nowords" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="op_vdd" placeholder="op_vdd" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="op_freq" placeholder="op_freq" type="text"  >
                  </div>
 
                </div>



                <div class="text-left text-muted mb-4">
                  <small>Results</small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="area" placeholder="area" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="aspectratio" placeholder="aspectratio" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="power" placeholder="power" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="word_size" placeholder="word_size" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="nowords" placeholder="nowords" type="text"  >
                  </div>
 
                </div>



                <div class="text-center text-muted mb-4">
                  <medium>Chip Results</medium>
                </div>
                <div class="text-left text-muted mb-4">
                  <small>Test Setup Specs</small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Input voltage" placeholder="Input voltage" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Clock Signal" placeholder="Clock Signal" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Memory Inputs through PGLA" placeholder="Memory Inputs through PGLA" type="text"  >
                  </div>
 
                </div>




                <div class="text-left text-muted mb-4">
                  <small>Output Measurements</small>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Vmin" placeholder="Vmin" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Operating Voltage range" placeholder="Operating Voltage range" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Read access time" placeholder="Read access time" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Write time" placeholder="Write time" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Energy_access" placeholder="Energy_access" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Leakage_bit" placeholder="Leakage_bit" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Read operation clock cycles" placeholder="Read operation clock cycles" type="text"  >
                  </div>
 
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" name="Write operation clock cycles" placeholder="Write operation clock cycles" type="text"  >
                  </div>
 
                </div>

                <div class="text-center">
                  <button class="btn btn-primary mt-4">Add Memory Generator</button>
                </div>
              </form>
            </div>
            </div>
          </form>


          <form action="/register" method="post">
            <div id="dcdc">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Module Name" placeholder="Module Name" type="text"  required>
                </div>

              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                </div>

              </div>
              <div class="text-center text-muted mb-4">
                <medium>Simulation</medium>
              </div>
              <div class="text-left text-muted mb-4">
                <small>Specifications</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Input voltage" placeholder="Input voltage" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Output voltage" placeholder="Output voltage" type="text"  >
                </div>

              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Load current" placeholder="Load current" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Input clock frequency" placeholder="Input clock frequency" type="text"  >
                </div>
              </div>

              <div class="text-left text-muted mb-4">
                <small>Results</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="area" placeholder="area" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Output voltage" placeholder="Output voltage" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Conversion efficiency" placeholder="Conversion efficiency" type="text"  >
                </div>
              </div>

              <div class="text-center text-muted mb-4">
                <medium>Chip Results</medium>
              </div>
              <div class="text-left text-muted mb-4">
                <small>Test Setup Specs</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Output capacitance" placeholder="Output capacitance" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Input voltage" placeholder="Input voltage" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Load current" placeholder="Load current" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Input clock frequency" placeholder="Input clock frequency" type="text"  >
                </div>
              </div>



              <div class="text-left text-muted mb-4">
                <small>Output Measurements</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Output voltage" placeholder="Output voltage" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Output ripple voltage" placeholder="Output ripple voltage" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Conversion efficiency" placeholder="Conversion efficiency" type="text"  >
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary mt-4">Add DCDC Generator</button>
              </div>
            </form>
          </div>
          </form>




        <form action="/register" method="post">
          <div id="temp">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Module Name" placeholder="Module Name" type="text" required >
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
              </div>

            </div>
            <div class="text-center text-muted mb-4">
              <medium>Simulation</medium>
            </div>
            <div class="text-left text-muted mb-4">
              <small>Specifications</small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Temperature Range" placeholder="Temperature Range" type="text"  >
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Input clock frequency" placeholder="Input clock frequency" type="text"  >
              </div>

            </div>


            <div class="text-left text-muted mb-4">
              <small>Results</small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Inaccuracy" placeholder="Inaccuracy" type="text"  >
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Area" placeholder="Area" type="text"  >
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Power" placeholder="Power" type="text"  >
              </div>
            </div>

            <div class="text-center text-muted mb-4">
              <medium>Chip Results</medium>
            </div>
            <div class="text-left text-muted mb-4">
              <small>Test Setup Specs</small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Temperature Range" placeholder="Temperature Range" type="text"  >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Result Code Precision" placeholder="Result Code Precision" type="text"  >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Input clock frequency" placeholder="Input clock frequency" type="text"  >
              </div>
            </div>


            <div class="text-left text-muted mb-4">
              <small>Output Measurements</small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Inaccuracy" placeholder="Inaccuracy" type="text"  >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Conversion Time" placeholder="Conversion Time" type="text"  >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Energy per Conversion" placeholder="Energy per Conversion" type="text"  >
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" name="Line Sensitivity" placeholder="Line Sensitivity" type="text"  >
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mt-4">Add Temp Sensor Generator</button>
            </div>
          </form>
        </div>
        </div>
      </form>




      <form action="/register" method="post">
            <div id="pll">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Module Name" placeholder="Module Name" type="text" required  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                </div>
              </div>
              <div class="text-center text-muted mb-4">
                <medium>Simulation</medium>
              </div>
              <div class="text-left text-muted mb-4">
                <small>Specifications</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="lower end of nominal frequency range" placeholder="lower end of nominal frequency range
                  " type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="higher end of  nominal frequency range" placeholder="higher end of  nominal frequency range" type="text"  >
                </div>

              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="maximum frequency" placeholder="maximum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="minimum frequency" placeholder="minimum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="DCO power" placeholder="DCO power" type="text"  >
                </div>

              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="DCO frequency resolution" placeholder="DCO frequency resolution" type="text"  >
                </div>
              </div>



              <div class="text-left text-muted mb-4">
                <small>Results</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="area" placeholder="area" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="nominal frequency" placeholder="nominal frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="maximum frequency" placeholder="maximum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="minimum frequency" placeholder="minimum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="power" placeholder="power" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="DCO frequency resolution" placeholder="DCO frequency resolution" type="text"  >
                </div>
              </div>



              <div class="text-center text-muted mb-4">
                <medium>Chip Results</medium>
              </div>
              <div class="text-left text-muted mb-4">
                <small>Test Setup Specs</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Reference clock" placeholder="Reference clock" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="Power supply" placeholder="Power supply" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="PLL Inputs through M0 debug mode" placeholder="PLL Inputs through M0 debug mode" type="text"  >
                </div>
              </div>




              <div class="text-left text-muted mb-4">
                <small>Output Measurements</small>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="nominal frequency" placeholder="nominal frequency" type="text"  >
                </div>
                <% if (locals.messages && messages.errors && messages.errors.name) { %>
                  <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                <% } %>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="maximum frequency" placeholder="maximum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="minimum frequency" placeholder="minimum frequency" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="DCO power" placeholder="DCO power" type="text"  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" name="area" placeholder="area" type="text"  >
                </div>
              </div>
              

              <div class="text-center">
                <button class="btn btn-primary mt-4">Add PLL Generator</button>
              </div>
            </form>
          </div>
          </div>
















            
        
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <% include ../partials/auth/footer %>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>






